@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@200&family=Noto+Sans+KR:wght@200&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import './navigation-bar.css';
@import './reset.css';
@import './variable.css';
@import './media-query.css';

* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-purple);
    color: white;
}
input {
    border: none;
    outline: none;
    appearance: none;
}
.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-relative {
    position: relative;
}